* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  justify-content: center;
  background-color: #232323;
  color: #ffffff;
  width: 100%;
  height: 10rem;
  position: relative;
  z-index: 5;
}

.title {
  font-size: 2rem;
  font-weight: 500;
  top: 0;
  padding-top: 0.5rem;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  height: 6rem;
  border-radius: 10px;
  margin-right: 1rem;
  margin-left: 1rem;
}

.sections {
  display: flex;
  gap: 2rem;
  margin-bottom: 2rem;
  margin-left: 20.5rem;
  margin-right: 20.5rem;
  position: relative;
  margin-top: -5rem;
  z-index: 10;
}

section {
  flex: 1;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  text-align: center;
  border: 1px solid #ccc;
  position: relative;
  top: 0;
}

.titleRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.titleRow h2 {
  font-size: 1.5rem;
  color: #333;
  font-weight: 600;
}

.titleRow svg {
  font-size: 1.6rem;
  color: #333;
}

.income,
.expense,
.total {
  padding: 2rem;
}

.incomeContainer,
.expenseContainer,
.totalContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.incomeItem,
.expenseItem,
.totalContainer span {
  font-size: 1.8rem;
  font-weight: 500;
  color: #333;
}

.incomeItem {
  color: #232323;
}

.expenseItem {
  color: #232323;
}

.totalContainer span {
  font-size: 2rem;
  color: #232323;
}

.titleRow h3 {
  font-size: 1.2rem;
  color: #333;
  font-weight: 500;
}

.form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.formControl {
  margin: 0.5rem;
  padding: 0.5rem;
}

.input {
  width: 20rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid #ccc;
  transition: all 0.3s ease-in-out;
}

.input:focus {
  box-shadow: 0 0 15px rgb(46, 46, 46);
}

.input::-webkit-input-placeholder {
  color: black;
  font-style: italic;
}

.input::-moz-placeholder {
  color: black;
  font-style: italic;
}

.input:-ms-input-placeholder {
  color: black;
  font-style: italic;
}

.input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.formControlButtons {
  display: flex;
  align-items: center;
  margin: 15px;
  display: flex;
  flex-direction: column;
}

.formControlButtons label {
  font-size: 1.1rem;
  color: #232323;
  cursor: pointer;
}

.inputBtn {
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #232323;
  background-color: #fff;
  position: relative;
  transition: all 0.3s ease;
  cursor: pointer;
}

.inputBtn:checked {
  background-color: #232323;
  border-color: #ffffff;
}

.inputBtn:checked::after {
  content: "";
  position: absolute;
  top: 4px;
  left: 4px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

.inputBtn:hover {
  background-color: #777777;
}

.btn {
  background-color: #232323;
  color: #ffffff;
  padding: 0.5rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  margin-left: 1rem;
  height: 3rem;
}

.renderContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.renderItem {
  display: grid;
  grid-template-columns: 1fr 120px 40px 40px;
  align-items: center;
  padding: 1rem;
  border-radius: 8px;
  margin-top: 1rem;
  width: 65%;
  border: 1px solid #ccc;
  gap: 1rem;
}

.renderItem h3 {
  font-size: 1rem;
  font-weight: 500;
  color: #333;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.renderItem h3:nth-child(1) {
  text-align: left;
}

.renderItem h3:nth-child(2) {
  text-align: right;
}

.renderItem span {
  font-size: 1.5rem;
  font-weight: 500;
  color: #333;
}

.up {
  color: #28a745;
  border: 1px solid #28a745;
  border-radius: 50%;
}

.down {
  color: #dc3545;
  border: 1px solid #dc3545;
  border-radius: 50%;
}

.up,
.down {
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.deleteBtn {
  background-color: #232323;
  color: #ffffff;
  padding: 0.5rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
}

.deleteBtn:hover {
  background-color: #dc3545;
}

.unsupportedDevice {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f44336;
  color: white;
  padding: 1rem;
  border-radius: 10px;
  font-size: 1.5rem;
  text-align: center;
  z-index: 100;
}

.chartContainer {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 4rem;
  margin-bottom: 2rem;
}

.chartLine {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  text-align: center;
  position: relative;
  top: 0;
}

@media screen and (max-width: 1222px) {
  .unsupportedDevice {
    display: block;
  }
}
